.day-card {
  border: 1px solid transparent;
  transition: border-color 0.3s background-color 0.3s;

  &:hover {
    border-color: #ddd;
    background-color: #fcfcfc;
    cursor: pointer;
  }

  &:active {
    background-color: #efefef;
  }

  .day-card-link {
    display: block;
    padding: 20px;
    text-decoration: none;

    &:any-link,
    &:visited,
    &:hover {
      color: #676767;
    }

    .temps {
      .temp-high {
        color: #121212;
        margin-right: 7px;
      }
      .temp-low {
      }
    }
  }
}
