.day-card {
  border: 1px solid transparent;
  transition: background-color 0.3s;

  &:hover {
    background-color: $primary-dark;
    cursor: pointer;
  }

  &:active {
    background-color: $primary;
  }

  .day-card-link {
    display: block;
    padding: 20px;
    text-decoration: none;

    &:any-link,
    &:visited,
    &:hover {
      color: $white;
    }

    .icon {
      filter: invert(1);
    }

    .temps {
      .temp-high {
        margin-right: 7px;
      }
      .temp-low {
        color: $text-primary;
      }
    }
  }
}
