.header {
  display: flex;
  padding: 0 20px;
  justify-content: flex-start;
  background-color: $primary;
  height: 150px;

  .logo {
    margin: auto 20px auto 0;
    color: $white;
    text-decoration: none;
    font-size: 2.5em;
    font-weight: bold;
  }

  .search-form {
    margin-top: 50.2px;

    .error {
      margin: 0;
      padding-top: 0.1em;
      padding-left: 2.3em;
    }
  }
}
