.header {
  display: flex;
  padding: 0 20px;
  background-color: $primary;
  height: 170px;
  flex-flow: column nowrap;

  .logo-searchbar-wrapper {
    display: flex;

    .logo {
      margin: 50.2px 20px auto 0;
      color: $white;
      text-decoration: none;
      font-size: 2.5em;
      font-weight: bold;
    }

    .search-form {
      margin-top: 50.2px;

      .error {
        margin: 0;
        padding-top: 0.1em;
        padding-left: 2.3em;
        position: absolute;
      }
    }
  }

  .nav-days {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0;
    margin: 45px 80px 0 80px;
    list-style: none;

    .day-link-wrapper {
      width: 20%;
    }

    .day-link {
      text-decoration: none;
      color: $primary-light;
      transition: color 250ms;

      &:hover {
        color: $white;
        font-weight: bold;
      }
    }
  }
}
