.hour-card {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
  border-bottom: 1px solid $primary-dark;
  transition: background-color 0.3s;

  &:hover {
    background-color: $primary-dark;
  }

  &:last-child {
    border-bottom: none;
  }

  .time {
    color: $white;
  }
  .icon {
    filter: invert(1);
  }
  .temp {
    color: $white;
  }
}
