@import '_variables';
@import '_animations';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $primary;
  font-size: 16px;
}

@import 'App';
@import 'SearchBar';
@import 'Header';
@import 'Footer';
@import 'Address';
@import 'LandingPage';
@import 'WeatherPage';
@import 'ShowDailyWeather';
@import 'ShowHourlyWeather';
@import 'DayCardList';
@import 'DayCard';
@import 'HourCardList';
@import 'HourCard';
