.landing-page {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  height: 100vh;

  .title {
    color: $white;
    // margin-top: 20vh;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    margin: auto;
    top: 25vh;
    left: 0;
    right: 0;

    .text-light {
      color: $primary-light;
    }
  }

  .loader {
    height: 100px;
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 32vh;
  }

  .search-form {
    position: absolute;
    margin: auto;
    top: 45vh;
    left: 0;
    right: 0;

    .search-container {
      width: 75%;
    }
  }
}

// .slide.exit {
//   top: 0px;
//   opacity: 1;
// }
//
// .slide.exit-active {
//   top: 1000px;
//   transition: all 300ms ease-out;
// }

.fade-enter,
.fade-appear {
  opacity: 0.01;
}
.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-in-slide-out-enter,
.fade-in-slide-out-appear {
  opacity: 0.01;
}

.fade-in-slide-out-enter.fade-in-slide-out-enter-active,
.fade-in-slide-out-appear.fade-in-slide-out-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.slide-in-enter {
  transform: translateY(80%);
}

.slide-in-enter.slide-in-enter-active {
  transform: translateY(0%);
  transition: transform 500ms ease-in-out;
}

.fade-in-slide-out-exit {
  transform: translateY(0%);
}
.fade-in-slide-out-exit.fade-in-slide-out-exit-active {
  transform: translateY(-42%);
  transition: transform 500ms ease-in-out;
}

.fade-in-slide-out-exit-done {
  transform: translateY(-42%);
}
