.landing-page {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  height: 100vh;

  .title {
    color: $white;
    // margin-top: 20vh;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    margin: auto;
    top: 25vh;
    left: 0;
    right: 0;
  }

  .loader {
    height: 100px;
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 32vh;
  }

  .search-form {
    position: absolute;
    margin: auto;
    top: 45vh;
    left: 0;
    right: 0;

    .search-container {
      width: 75%;
    }
  }
}

// .slide.exit {
//   top: 0px;
//   opacity: 1;
// }
//
// .slide.exit-active {
//   top: 1000px;
//   transition: all 300ms ease-out;
// }

.slide-enter,
.slide-appear {
  opacity: 0.01;
}
.slide-enter.slide-enter-active,
.slide-appear.slide-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.slide-exit {
  opacity: 1;
}
.slide-exit.slide-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
