.landing-page {
  height: 100vh;
  width: 100vw;
  position: absolute;
  max-width: 100%;

  .title {
    color: $white;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    margin: auto;
    top: 25vh;
    left: 0;
    right: 0;

    .text-light {
      color: $primary-light;
    }
  }

  .loader {
    height: 100px;
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 32vh;
  }

  .search-form {
    position: absolute;
    margin: auto;
    top: 45vh;
    left: 0;
    right: 0;

    .search-container {
      width: 75%;
    }
  }
}
