.show-hourly-weather {
  position: absolute;
  height: 100vh;
  width: 100vw;
  max-width: 100%;

  .date {
    font-size: 1.9em;
    color: $primary-light;
  }

  .loader {
    height: 100px;
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
}
