.show-hourly-weather {
  position: absolute;
  height: 100vh;
  width: 100vw;
  max-width: 100%;

  .address {
    color: $white;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
  }

  .date {
    font-size: 1.9em;
    color: $primary-light;
  }
}
