.show-hourly-weather {
  height: 2474.2px;

  .show-hourly-weather-content {
    position: absolute;
    width: 100%;
  }

  .date {
    font-size: 1.9em;
    color: $primary-light;
  }

  .loader {
    height: 100px;
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
}
